<div id='ticket'>
	<h2><%= @ticket.title %></h2>
	<!-- The method simple_format converts the line breaks entered into the description field into HTMl break tags <br> -->
	<%= simple_format(@ticket.description) %>
</div>