<h2>Edit project</h2>

<!-- When a string is passed to the render method, Rails looks up a partial in the current directory matching the string and renders that instead -->
<%= render "form" %>
<%= link_to "Update Project", project_path(@project) %>